<a href="https://colab.research.google.com/github/whatnews72/----/blob/master/CNN(%EC%97%B0%EC%82%B0%EC%9D%98%EC%9D%B4%ED%95%B41).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)
독립 = 독립.reshape(60000,28,28,1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3,kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6,kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation ='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics= 'accuracy')

In [ ]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 15s 4ms/step - loss: 0.3625 - accuracy: 0.9373
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0785 - accuracy: 0.9780
Epoch 3/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0505 - accuracy: 0.9864
Epoch 4/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0389 - accuracy: 0.9889
Epoch 5/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0334 - accuracy: 0.9909
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0269 - accuracy: 0.9930
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0213 - accuracy: 0.9942
Epoch 8/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0204 - accuracy: 0.9941
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0203 - accuracy: 0.9947
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0160 - accuracy: 0.9957

In [ ]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 136ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 conv2d_3 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 모델을 만들고, CNN
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3,kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Conv2D(6,kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation ='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics= 'accuracy')

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_4 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d (MaxPooling2D  (None, 12, 12, 3)        0
 )

 conv2d_5 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_1 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten_1 (Flatten)         (None, 96)                0

 dense_2 (Dense)             (None, 84)                8148

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.6770 - accuracy: 0.8733
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.1322 - accuracy: 0.9607
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0954 - accuracy: 0.9714
Epoch 4/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0828 - accuracy: 0.9755
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0765 - accuracy: 0.9779
Epoch 6/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0710 - accuracy: 0.9785
Epoch 7/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0686 - accuracy: 0.9799
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0614 - accuracy: 0.9824
Epoch 9/10
1875/1875 [==============================] - 7s 3ms/step - loss: 0.0622 - accuracy: 0.9818
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0631 - accuracy: 0.9819